.btn-staff {
    width: 100%; 
    padding: 1.1rem;
    background-color: #b05323; 
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0.8rem;
    transition: background-color 0.2s;
}

.btn-staff:hover {
    background-color: #944219;
}