@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Anek+Malayalam:wght@100..800&display=swap');

* {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Segoe UI', 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.6;
}